<a href="https://colab.research.google.com/github/maxelOA/formula-1-data/blob/develop/Eschema_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Paqueterias**

In [ ]:
import requests as r
import json 
import pandas as pd
import numpy as np
import pdb

# **UNRAVEL PACK**

In [ ]:
########################################
######### Primer dic en Df listas ###### v1.1
########################################

def first_dict(column):

  column=column[contains_dict(column)]
  
  return column.iloc[0]

########################################
######### Existe en ambas listas ####### v1.1
########################################

def it_contains(list1,list2):

  if any((match := item) in list1 for item in list2):
    return True

  else:
    return False

########################################
######### Restructura Dataframe ######## V1.1
########################################

def dataframe_res(Df1,location,Df2):

    Df2_names=Df2.columns.tolist()

    for i in Df2.columns:
      Df1.insert(loc=location, column=i,value=Df2[i])
      location+=1
    
    return Df1

########################################
###### Checa si el objeto es Dict ###### V1.0
########################################

def is_dict(mydic):
  if type(mydic)==dict:
    return True
  else:
    return False

########################################
#### Checa si la columna tiene dict ####  V1.0
########################################

def contains_dict(interest_column):

  boolean_list=[]

  for i in range(len(interest_column)):

    if is_dict(interest_column[i]):
      boolean_list.append(True)
    else:
      boolean_list.append(False)

  return boolean_list

########################################
######### Dict a Columnas ############## V1.0
########################################

def expand(chosen_column, join_id_column,desired_column_name,prefix,f_dict):

    dictionary = []

    len_dict=len(f_dict)
    empty_dict=dict(zip(f_dict.keys(), [np.nan]*len_dict))

    #len_dict=len(chosen_column[0])
    #empty_dict=dict(zip( chosen_column[0].keys(), [np.nan]*len_dict))

    for i,k in zip(chosen_column,join_id_column):

        if pd.isnull(i)==True:
            i=empty_dict
        if i:
           # i = i.replace("'", '"').replace(" ", "")
           # i = json.loads(i)
            dict1 = {desired_column_name: k }
            new_dict = {**dict1, **i}
            dictionary.append(new_dict)

            Df=pd.DataFrame(dictionary)
            Df_names=Df.columns.tolist()
            Df_names.remove(desired_column_name)

    for i in Df_names:  
      Df.rename(columns={i:prefix+'_'+i}, inplace=True)

    return Df

########################################
######### Dict a Columnas nokey ######## V1.0
########################################

def expand_noKey(chosen_column, prefix,f_dict):

    dictionary = []

    len_dict=len(f_dict)
    empty_dict=dict(zip(f_dict.keys(), [np.nan]*len_dict))

    #len_dict=len(chosen_column[0])
    #empty_dict=dict(zip( chosen_column[0].keys(), [np.nan]*len_dict))
   

    for i in chosen_column:

        if pd.isnull(i)==True:
            i=empty_dict
        if i:
           # i = i.replace("'", '"').replace(" ", "")
           # i = json.loads(i)  
            new_dict = {**i}
            dictionary.append(new_dict)

            Df=pd.DataFrame(dictionary)
            Df_names=Df.columns.tolist()

    for i in Df_names:  
      Df.rename(columns={i:prefix+'_'+i}, inplace=True)

    return Df

########################################
## Regresa las columnas estructuradas ##  V1.0
########################################

def st_df(Df):

 structure_columns_names=[]
 columns_names= Df.columns.tolist()

 for i in columns_names:

    if True in contains_dict(Df[i]):
      structure_columns_names.append(i)
  
 return structure_columns_names

########################################
######### Todas las columnas ########### v1.1
########################################

def unravel(Df, join_id_column,desired_column_name): 
  
  expand_names=st_df(Df)

  if it_contains(expand_names,Df.columns.tolist())==True:
       for i in expand_names:


         df_aux=expand(Df[i].tolist(), join_id_column.tolist(), desired_column_name,i)
         new_cols=df_aux.loc[:, df_aux.columns!=desired_column_name]      

         position_insert=Df.columns.get_loc(i)
         Df=dataframe_res(Df,position_insert,new_cols)
         Df.drop(i, inplace=True, axis=1)

         unravel(Df,join_id_column,desired_column_name)

         return Df
  else:
         return Df


########################################
####### Todas las columnas nokey ####### v1.1
########################################

def unravel_noKey(Df):
  expand_names=st_df(Df)

  if it_contains(expand_names,Df.columns.tolist())==True:
       for i in expand_names:


         df_aux=expand_noKey(Df[i].tolist(),i,first_dict(Df[i]))

         position_insert=Df.columns.get_loc(i)
         Df=dataframe_res(Df,position_insert,df_aux)
         Df.drop(i, inplace=True, axis=1)

         unravel_noKey(Df)

         return Df
  else:
         return Df

# **QUERY PACK** V2

# Ambiente para pruba

In [ ]:
url_seasons=url='https://ergast.com/api/f1/2022/seasons.json'
url_drivers='https://ergast.com/api/f1/2022/drivers.json'
url_constructors='https://ergast.com/api/f1/2022/constructors.json'
url_circuits='https://ergast.com/api/f1/2022/circuits.json'
url_status='https://ergast.com/api/f1/2022/status.json'
url_races='https://ergast.com/api/f1/2022/races.json'
url_constructorStandings='https://ergast.com/api/f1/2022/constructorStandings.json'

url_driverStandings='https://ergast.com/api/f1/2022/driverStandings.json'
url_results='https://ergast.com/api/f1/2022/results.json'
url_qualifying='https://ergast.com/api/f1/2022/qualifying.json'

In [ ]:
seasons=r.get(url_seasons).json()
drivers=r.get(url_drivers).json()
constructors=r.get(url_constructors).json()
circuits=r.get(url_circuits).json()
status=r.get(url_status).json()
races=r.get(url_races).json()

constructorStandings=r.get(url_constructorStandings).json()
driverStandings=r.get(url_driverStandings).json()
results=r.get(url_results).json()
qualifying=r.get(url_qualifying).json()

In [ ]:
db_seasons=pd.DataFrame(seasons['MRData']['SeasonTable']['Seasons'])
db_drivers=pd.DataFrame(drivers['MRData']['DriverTable']['Drivers'])
db_constructors=pd.DataFrame(constructors['MRData']['ConstructorTable']['Constructors'])
db_circuits=pd.DataFrame(circuits['MRData']['CircuitTable']['Circuits'])
db_status=pd.DataFrame(status['MRData']['StatusTable']['Status'])
db_races=pd.DataFrame(races['MRData']['RaceTable']['Races'])

db_constructorStandings=pd.DataFrame(constructorStandings['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings'])
db_driverStandings=pd.DataFrame(driverStandings['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings'])
db_results=pd.DataFrame(results['MRData']['RaceTable']['Races'][0]['Results'])    #para todas las carreras
db_qualifyingResults=pd.DataFrame(qualifying['MRData']['RaceTable']['Races'][0]['QualifyingResults'])

## PRUEBA QUERY PACK

## Consideraciones

Nombre de tabla plural en url, nombre de tablae en consulta singular, nombre de url nuevamente

## Dimension Tables:

seasons-MRData-SeasonTable-Seasons\
drivers-MRDATA-DriverTable-Drivers\
constructors-MRData-ConstructorTable-Constructors\
circuits-MRData-CircuitTables-Circuits\
status-MRData-StatusTable-Status\
races-MRData-RaceTable-Races\
constructorStandings-MRData-StandingsTable-StandingsLists


## Fact Tables
driverStandings-MRData-StandingsTable-StandingsLists-0-DriverStandings\
results-MRData-RaceTable-Races-0-Results\
qualifying-MRData-RaceTable-Races-0-QualifyingResults

## "Races" depent Fact Tables
pitstops\
laps

## "Results" depend Fact Tables
constructorResults

In [ ]:
def num_races(year):
  races=pd.DataFrame()

  url=f'https://ergast.com/api/f1/{year}/races.json'
  data=r.get(url).json()
  races=pd.DataFrame(data['MRData']['RaceTable']['Races'])

  return len(races.axes[0])

# Constructor Results tables

In [ ]:
db_constructorResults=db_results[['Constructor','points','status']]
unravel_noKey(db_constructorResults)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Constructor_constructorId,Constructor_url,Constructor_name,Constructor_nationality,points,status
0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,26,Finished
1,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,18,Finished
2,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German,15,Finished
3,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German,12,Finished
4,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American,10,Finished
5,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss,8,Finished
6,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French,6,Finished
7,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian,4,Finished
8,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French,2,Finished
9,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss,1,Finished
10,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American,0,Finished
11,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British,0,Finished
12,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British,0,Finished
13,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British,0,Finished
14,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British,0,Finished
15,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British,0,Finished
16,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British,0,Finished
17,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian,0,Fuel pressure
18,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian,0,Fuel pressure
19,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian,0,Power Unit

In [ ]:
url2='http://ergast.com/api/f1/2022/last/laps.json'

url1='http://ergast.com/api/f1/20202/last/pitstops.json'

url3='https://ergast.com/api/f1/2022/grid/constructors.json'

dd=pd.DataFrame(r.get(url3).json()['MRData'])
dd

JSONDecodeError: ignored

### funciones

In [ ]:
def tbls(table_name,year):
  
  dimension_tables={'seasons':'SeasonTable','drivers':'DriverTable','constructors':'ConstructorTable','circuits':'CircuitTable','status':'StatusTable','races':'RaceTable'}
  fact_tables={'driverStandings':['StandingsTable','StandingsLists'],'results':['RaceTable','Races'],'qualifyingResults':['RaceTable','Races'],'constructorStandings':['StandingsTable','StandingsLists']}

  depend_races=['pitstops','laps']
  depend_results=['constructorResults']

  total_races=num_races(year)

  url=f'https://ergast.com/api/f1/{year}/{table_name}.json'
  data=r.get(url).json() 


  if table_name in dimension_tables:
   locations=dimension_tables[table_name]
   Df=pd.DataFrame(data['MRData'][locations[0]][table_name.capitalize()])

  elif table_name in fact_tables:

   locations=fact_tables[table_name]
   Df=pd.DataFrame(data['MRData'][locations[0]][locations[1]][table_name.capitalize()])

  elif table_name in (depend_races | depend_results):

    if table_name in depend_races:
      url=f'https://ergast.com/api/f1/{table_name}/seasons.json'

    else:
  
  else:
    print('No table exist in the schema with that name')

  return Df

In [ ]:
def query_range(table_name,initial_date,final_date):

  Df=pd.DataFrame()

  for i in list(range(initial_date,final_date+1)):

      url=f'https://ergast.com/api/f1/{i}.json'
      response=r.get(url)
      content=jason.loads(response.content)
      
      Df=Df.append(pd.DataFrame(content['MRData'][table_name]['Races'][0]['Results']))

  return Df

# Prueba **UNRAVEL**

In [ ]:
url='https://ergast.com/api/f1/2022/22/results.json'
f1_2022=r.get(url).json()

results=pd.DataFrame(f1_2022['MRData']['RaceTable']['Races'][0]['Results'])
results

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,1,1,1,25,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1,58,Finished,"{'millis': '5265914', 'time': '1:27:45.914'}","{'rank': '6', 'lap': '54', 'Time': {'time': '1..."
1,16,2,2,18,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",3,58,Finished,"{'millis': '5274685', 'time': '+8.771'}","{'rank': '10', 'lap': '48', 'Time': {'time': '..."
2,11,3,3,15,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",2,58,Finished,"{'millis': '5276007', 'time': '+10.093'}","{'rank': '4', 'lap': '52', 'Time': {'time': '1..."
3,55,4,4,12,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",4,58,Finished,"{'millis': '5290806', 'time': '+24.892'}","{'rank': '3', 'lap': '50', 'Time': {'time': '1..."
4,63,5,5,10,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",6,58,Finished,"{'millis': '5301802', 'time': '+35.888'}","{'rank': '2', 'lap': '48', 'Time': {'time': '1..."
5,4,6,6,9,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",7,58,Finished,"{'millis': '5322148', 'time': '+56.234'}","{'rank': '1', 'lap': '44', 'Time': {'time': '1..."
6,31,7,7,6,"{'driverId': 'ocon', 'permanentNumber': '31', ...","{'constructorId': 'alpine', 'url': 'http://en....",8,58,Finished,"{'millis': '5323154', 'time': '+57.240'}","{'rank': '5', 'lap': '45', 'Time': {'time': '1..."
7,18,8,8,4,"{'driverId': 'stroll', 'permanentNumber': '18'...","{'constructorId': 'aston_martin', 'url': 'http...",14,58,Finished,"{'millis': '5342845', 'time': '+1:16.931'}","{'rank': '9', 'lap': '42', 'Time': {'time': '1..."
8,3,9,9,2,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",13,58,Finished,"{'millis': '5349182', 'time': '+1:23.268'}","{'rank': '18', 'lap': '45', 'Time': {'time': '..."
9,5,10,10,1,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'aston_martin', 'url': 'http...",9,58,Finished,"{'millis': '5349812', 'time': '+1:23.898'}","{'rank': '15', 'lap': '35', 'Time': {'time': '..."
10,22,11,11,0,"{'driverId': 'tsunoda', 'permanentNumber': '22...","{'constructorId': 'alphatauri', 'url': 'http:/...",11,58,Finished,"{'millis': '5355285', 'time': '+1:29.371'}","{'rank': '7', 'lap': '40', 'Time': {'time': '1..."
11,24,12,12,0,"{'driverId': 'zhou', 'permanentNumber': '24', ...","{'constructorId': 'alfa', 'url': 'http://en.wi...",15,57,+1 Lap,NaN,"{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
12,23,13,13,0,"{'driverId': 'albon', 'permanentNumber': '23',...","{'constructorId': 'williams', 'url': 'http://e...",19,57,+1 Lap,NaN,"{'rank': '13', 'lap': '40', 'Time': {'time': '..."
13,10,14,14,0,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",17,57,+1 Lap,NaN,"{'rank': '19', 'lap': '16', 'Time': {'time': '..."
14,77,15,15,0,"{'driverId': 'bottas', 'permanentNumber': '77'...","{'constructorId': 'alfa', 'url': 'http://en.wi...",18,57,+1 Lap,NaN,"{'rank': '16', 'lap': '47', 'Time': {'time': '..."
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [ ]:
results2=results[['number','FastestLap']]
results2.columns.get_loc('FastestLap')

1

In [ ]:
unravel(results,results['number'],'number')

,number,position,positionText,points,Driver_driverId,Driver_permanentNumber,Driver_code,Driver_url,Driver_givenName,Driver_familyName,...,grid,laps,status,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
0,1,1,1,25,max_verstappen,33,VER,http://en.wikipedia.org/wiki/Max_Verstappen,Max,Verstappen,...,1,58,Finished,5265914,1:27:45.914,6,54,1:29.392,kph,212.676
1,16,2,2,18,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,...,3,58,Finished,5274685,+8.771,10,48,1:29.719,kph,211.901
2,11,3,3,15,perez,11,PER,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez,Sergio,Prez,...,2,58,Finished,5276007,+10.093,4,52,1:28.972,kph,213.680
3,55,4,4,12,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,...,4,58,Finished,5290806,+24.892,3,50,1:28.879,kph,213.904
4,63,5,5,10,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,...,6,58,Finished,5301802,+35.888,2,48,1:28.836,kph,214.007
5,4,6,6,9,norris,4,NOR,http://en.wikipedia.org/wiki/Lando_Norris,Lando,Norris,...,7,58,Finished,5322148,+56.234,1,44,1:28.391,kph,215.085
6,31,7,7,6,ocon,31,OCO,http://en.wikipedia.org/wiki/Esteban_Ocon,Esteban,Ocon,...,8,58,Finished,5323154,+57.240,5,45,1:29.333,kph,212.817
7,18,8,8,4,stroll,18,STR,http://en.wikipedia.org/wiki/Lance_Stroll,Lance,Stroll,...,14,58,Finished,5342845,+1:16.931,9,42,1:29.620,kph,212.135
8,3,9,9,2,ricciardo,3,RIC,http://en.wikipedia.org/wiki/Daniel_Ricciardo,Daniel,Ricciardo,...,13,58,Finished,5349182,+1:23.268,18,45,1:30.785,kph,209.413
9,5,10,10,1,vettel,5,VET,http://en.wikipedia.org/wiki/Sebastian_Vettel,Sebastian,Vettel,...,9,58,Finished,5349812,+1:23.898,15,35,1:30.312,kph,210.510
10,22,11,11,0,tsunoda,22,TSU,http://en.wikipedia.org/wiki/Yuki_Tsunoda,Yuki,Tsunoda,...,11,58,Finished,5355285,+1:29.371,7,40,1:29.489,kph,212.446
11,24,12,12,0,zhou,24,ZHO,http://en.wikipedia.org/wiki/Guanyu_Zhou,Guanyu,Zhou,...,15,57,+1 Lap,NaN,NaN,8,53,1:29.600,kph,212.183
12,23,13,13,0,albon,23,ALB,http://en.wikipedia.org/wiki/Alexander_Albon,Alexander,Albon,...,19,57,+1 Lap,NaN,NaN,13,40,1:29.939,kph,211.383
13,10,14,14,0,gasly,10,GAS,http://en.wikipedia.org/wiki/Pierre_Gasly,Pierre,Gasly,...,17,57,+1 Lap,NaN,NaN,19,16,1:31.081,kph,208.732
14,77,15,15,0,bottas,77,BOT,http://en.wikipedia.org/wiki/Valtteri_Bottas,Valtteri,Bottas,...,18,57,+1 Lap,NaN,NaN,16,47,1:30.352,kph,210.417
15,47,16,16,0,mick_schumacher,47,MSC,http://en.wikipedia.org/wiki/Mick_Schumacher,Mick,Schumacher,...,12,57,+1 Lap,NaN,NaN,12,39,1:29.833,kph,211.632
16,20,17,17,0,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,...,16,57,+1 Lap,NaN,NaN,20,40,1:31.158,kph,208.556
17,44,18,18,0,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,...,5,55,Hydraulics,NaN,NaN,11,42,1:29.788,kph,211.738
18,6,19,19,0,latifi,6,LAT,http://en.wikipedia.org/wiki/Nicholas_Latifi,Nicholas,Latifi,...,20,55,Collision damage,NaN,NaN,14,45,1:30.309,kph,210.517
19,14,20,R,0,alonso,14,ALO,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,...,10,27,Water leak,NaN,NaN,17,24,1:30.579,kph,209.889

# Prueba **QUERY**